# {{ .name }}

{{ .description }}

## Installation

```bash
go install github.com/{{ .author }}/{{ .name }}@latest
```

## Usage

```bash
{{ .name }} --help
```

## License

MIT License - see the [LICENSE](LICENSE) file for details.

## Author

{{ .author }} <{{ .email }}> 